*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  position: relative;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*margin-top: 75px;*/
}

.content {
  position: relative;
  display: inline-flex;
  justify-content: flex-end;
  margin: 133px 30px;
}

.content__details {
  margin-left: 30px;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  
}

.search-form__label {
  display: inline;
  width: fit-content;
  cursor: pointer;
}

.content__list {
  width: 399px;
  height: 298px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}


.content__list::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.content__video-card {
  display: inline-flex;
  align-items: flex-start;
  width: 100%;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
}

.preloader {
  position: relative;
}

.search-form__fieldset {
  margin-bottom: 10px;
}

.search-form__fieldset:first-child {
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 5px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__video-card{
  padding: 2px;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
}

.content__card-link {
  text-decoration: none;
  margin: 2px;
}

.content__card-link:focus-visible {
  display: block;
  box-shadow: 0 0 0 1px #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.search-form__textfield {
  appearance: none;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background-color: #1b1919;
  height: 27px;
  width: 225px;
  border-top: 1px solid  white;
  border-bottom: 1px solid  white;
  border-left: 1px solid #1b1919;
  border-right: 1px solid #1b1919;
  text-align: start;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__label:has(:focus-visible) {
  display: block;
  outline: 1px solid white;
}

.search-form__label:has(:hover) {
  text-decoration: underline;
  text-decoration-color: #fff;
}


.search-form__pseudo-checkbox {
  display: inline-flex;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  border: 1px solid #FFF;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before { 
  content: ""; 
  width: 15px; 
  height: 15px;
  background-color: #fff; 
  margin: 1px;
}

.button {
  cursor: pointer;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 0 0 0 1px #fff;
  padding: 1px;
}

.button:hover {
  text-decoration: underline;
  text-decoration-color: #FFF;
}

.search-form__submit-button {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  background-color: #1b1919;
  width: 194px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  margin-bottom: 5px;
}

.more-button {
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  background-color: #1b1919;
  width: 399px;
  height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 1px solid #FFF;
  position: sticky; /*Решить вопрос с прилипанием*/
  align-self: flex-end;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}